extends ../layout

block content
    a(href='/') volver
    a.btn.btn-success(href='/usuarios/create') Nuevo Usuario
    
    br
    br

    table.Table
        thead
            tr
            th(scope='col') '#'
            th(scope='col') Nombre
            th(scope='col') Email
            th(scope='col') Verificado
            th(scope='col')
            th(scope='col')
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')
                        = usuario.id
                    td= usuario.nombre
                    td= usuario.email
                    td= usuario.verificado ? 'Si': 'No'
                    td 
                        a.btn(href='usuarios/' + usuario.id + '/update') Editar
                    td 
                        form.inline(action="usuarios/"+usuario.ud+'/delete' method="post")
                            input(type="hidden", name="id" value=usuario.id)
                            button.link-button.btn-danger(type="submit" name='submit_param')
                                = 'Eliminar'
                        

